<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="{{ site_settings:no_index_site ? 'noindex, nofollow' : 'all' }}" />
  <meta name="recaptcha-site-key" content="{{ env:RECAPTCHA_V3_SITE_KEY }}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <title>{{ title ?? site:name }}</title>
  {{ vite src="resources/js/site.js|resources/css/site.css" }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
  {{ partial:sections/offcanvas }}
  {{ partial:sections/header }}
  <main>
    {{ template_content }}
  </main>
  {{ partial:sections/contact }}
  {{ partial:sections/footer }}
  {{ recaptcha }}
</body>
</html>