{{ replicator }}
  {{ if type == "50_50_block" }}
    {{ partial:blocks/5050 }}
  {{ elseif type == "hero_banner" }}
    {{ partial:blocks/heroBanner }}
  {{ elseif type == "video_banner" }}
    {{ partial:blocks/videoBanner }}
  {{ elseif type == "cta_strip" }}
    {{ partial:blocks/ctaStrip }}
  {{ elseif type == "icon_column" }}
    {{ partial:blocks/iconColumn }}
  {{ elseif type == "team_columns" }}
    {{ partial:blocks/teamColumn }}
  {{ elseif type == "latest_news" }}
    {{ partial:blocks/latestNews }}
  {{ elseif type == "project_slider" }}
    {{ partial:blocks/projectSlider }}
  {{ elseif type == "product_slider" }}
    {{ partial:blocks/productSlider }}
  {{ elseif type == "content_sidebar" }}
    {{ partial:blocks/contentSidebar }}
  {{ elseif type == "product_grid" }}
    {{ partial:blocks/productGrid }}
  {{ elseif type == "page_columns" }}
    {{ partial:blocks/pageColumns }}
  {{ elseif type == "products_accordion" }}
    {{ partial:blocks/productsAccordion }}
  {{ elseif type == "content" }}
    {{ partial:blocks/mainBard }}
  {{ elseif type == "search" }}
    {{ partial:blocks/searchResults }}
  {{ /if }}
{{ /replicator }}
