{{ if content || page_links || image }}
  <div class="block-5050">
    <div class="container grid grid-cols-1 gap-7 py-8 lg:grid-cols-2 lg:gap-10 lg:py-12 2xl:py-14">
      <div class="lg:order-2 lg:flex lg:flex-col lg:justify-center">
        {{ if content }}
          <div class="{{ ['mb-4' => button || page_links] | classes }} text-wrap">
            {{ content }}
          </div>
        {{ /if }}
        {{ if page_links }}
          <ul class="{{ ['mb-4' => button] | classes }}">
            {{ page_links }}
              {{ if title && url }}
                <li>
                  <a href="{{ url }}" class="mb-5 flex items-center border-b-4 border-minova-gold pb-2">
                    <h5 class="mb-0">{{ title }}</h5>
                    <div class="ml-2">
                      {{ partial:common/chevron chevron_size="xs" }}
                    </div>
                  </a>
                </li>
              {{ /if }}
            {{ /page_links }}
          </ul>
        {{ /if }}
        {{ if button:label }}
          <div>
            {{ partial:common/button :url="button:link" :text="button:label" style="gold" }}
          </div>
        {{ /if }}
      </div>
      <div class="lg:order-1">
        {{ if left_column == 'cross_section' }}
          {{ partial:common/crossSection }}
        {{ else }}
          {{ if image }}
            {{ partial:common/image class="h-auto w-full object-contain" :url="image" :alt="image:alt" }}
          {{ /if }}
        {{ /if }}
      </div>
    </div>
  </div>
{{ /if }}
