{{ if content || page_links || image }}
  <div class="block-5050">
    <div class="container grid grid-cols-1 gap-7 lg:grid-cols-2 lg:gap-10 py-8 lg:py-12">
      <div class="lg:order-2 lg:flex lg:flex-col lg:justify-center">
        {{ if content }}
          <div class="{{ ['mb-4' => button || page_links] | classes }} text-wrap">
            {{ content }}
          </div>
        {{ /if }}
        {{ if page_links }}
          <ul class="{{ ['mb-4' => button] | classes }}">
            {{ page_links }}
              {{ if title && url }}
                <li>
                  <a
                    href="{{ url }}"
                    class="border-minova-gold mb-5 flex items-center border-b-4 pb-2 text-xl uppercase"
                  >
                    <span>{{ title }}</span>
                    <i class="fa-regular fa-chevron-right fa-2xs ml-2"></i>
                  </a>
                </li>
              {{ /if }}
            {{ /page_links }}
          </ul>
        {{ /if }}
        {{ if button:label }}
          <div>
            {{ partial:common/button :url="button:link" :text="button:label" style="gold" }}
          </div>
        {{ /if }}
      </div>
      <div class="lg:order-1">
        {{ if image }}
          {{ partial:common/image class="h-auto w-full object-contain" :url="image" :alt="image:alt" }}
        {{ /if }}
      </div>
    </div>
  </div>
{{ /if }}
