{{ if content || page_links || image }}
  <div class="block-5050 mb-10">
    <div class="container grid grid-cols-1 gap-7 lg:grid-cols-2 lg:gap-10">
      <div class="lg:order-2 lg:flex lg:flex-col lg:justify-center">
        {{ if content }}
          <div class="text-wrap">
            {{ content }}
          </div>
        {{ /if }}
        {{ if group_field:use_button }}
          <div class="pt-4">
            {{ partial:common/button :url="group_field:button_url" :text="group_field:button_text" style="gold" }}
          </div>
        {{ /if }}
        {{ if page_links }}
          <ul class="pt-4">
            {{ page_links }}
              {{ if title && url }}
                <li>
                  <a
                    href="{{ url }}"
                    class="border-minova-gold mb-5 block border-b-4 pb-2 font-flamablack text-2xl uppercase"
                  >
                    {{ title }}
                    >
                  </a>
                </li>
              {{ /if }}
            {{ /page_links }}
          </ul>
        {{ /if }}
      </div>
      <div class="lg:order-1">
        {{ if image }}
          {{ partial:common/image class="h-auto w-full object-contain" :url="image" :alt="image:alt" }}
        {{ /if }}
      </div>
    </div>
  </div>
{{ /if }}
