<div class="block-content-sidebar">
  <div class="container grid gap-10 lg:grid-cols-12 py-8 lg:py-12">
    <div class="lg:col-span-3">
      {{ partial:common/navigationSidebar }}
    </div>
    <div class="lg:col-span-9">
      <div class="{{ ['lg:grid-cols-9' => downloads] | classes }} grid gap-10">
        <div class="{{ ['lg:col-span-6' => downloads] | classes }}">
          {{ if bard_field }}
            {{ partial:common/bard :data="bard_field" }}
          {{ /if }}
        </div>
        <div class="lg:col-span-3">
          {{ if downloads }}
            <div class="bg-gray-200 p-5">
              <h4>Downloads</h4>
              <ul>
                {{ downloads }}
                  <li class="mb-1">
                    <a href="{{ file }}" download class="flex items-center justify-between bg-white px-3 py-2">
                      <span>{{ title }}</span>
                      <span class="flex size-8 items-center justify-center bg-minova-gold text-white">
                        <i class="fa-regular fa-arrow-down"></i>
                      </span>
                    </a>
                  </li>
                {{ /downloads }}
              </ul>
            </div>
          {{ /if }}
        </div>
      </div>
    </div>
  </div>
</div>
