<div class="block-content-sidebar">
  <div class="container grid gap-10 py-8 lg:grid-cols-12 lg:py-12 2xl:gap-14 2xl:py-14">
    {{ if is_product || sidebar_navigation }}
      <div class="lg:col-span-3">
        {{ partial:common/navigationSidebar }}
      </div>
    {{ /if }}
    <div class="lg:col-span-9">
      <div
        class="{{ ['lg:grid-cols-9' => downloads || industry_sectors || solutions || common_uses || available_regions] | classes }} grid gap-10">
        <div
          class="{{ ['lg:col-span-6' => downloads || industry_sectors || solutions || common_uses || available_regions] | classes }}">
          {{ if bard_field }}
            {{ partial:common/bard :data="bard_field" }}
          {{ /if }}
        </div>
        <div class="lg:col-span-3">
          {{ if industry_sectors }}
            <div class="rounded-t-2xl bg-minova-gold px-5 py-7">
              <p class="mb-4 text-xl font-extrabold text-white">Industry sectors</p>
              <ul>
                {{ industry_sectors }}
                  {{ partial:common/taxTermSector }}
                {{ /industry_sectors }}
              </ul>
            </div>
          {{ /if }}
          {{ if solutions }}
            <div class="rounded-t-2xl bg-minova-gold px-5 py-7">
              <p class="mb-4 text-xl font-extrabold text-white">Reliable Solutions</p>
              <ul>
                {{ solutions }}
                <li class="{{ ['mb-4' => !last] | classes }}">
                  <span class="flex items-center">
                    <i class="fa-regular fa-check text-white text-xl mr-3 align-middle"></i>
                    <span class="text-lg font-bold text-white leading-none">
                      {{ title }}
                    </span>
                  </span>
                </li>
                {{ /solutions }}
              </ul>
            </div>
          {{ /if }}
          {{ if common_uses }}
            <div
              class="{{ ['rounded-t-2xl' => !industry_sectors] | classes }} border-t-2 border-white bg-slate-100 px-5 py-7">
              <p class="mb-5 text-xl font-extrabold">Common use</p>
              <ul>
                {{ common_uses }}
                  {{ partial:common/taxTermItem }}
                {{ /common_uses }}
              </ul>
            </div>
          {{ /if }}
          {{ if available_regions }}
            <div
              class="{{ ['rounded-t-2xl' => !industry_sectors && !common_uses] | classes }} border-t-2 border-white bg-slate-100 px-5 py-7">
              <p class="mb-5 text-xl font-extrabold">Available Regions</p>
              <ul>
                {{ available_regions }}
                  {{ partial:common/taxTermItem }}
                {{ /available_regions }}
              </ul>
            </div>
          {{ /if }}
          {{ if downloads }}
            <div
              class="{{ ['border-t-2 border-white' => is_product, 'rounded-t-2xl' => !industry_sectors && !common_uses && !available_regions] | classes }} rounded-b-2xl bg-slate-100 px-5 py-7">
              {{ partial:common/downloads }}
            </div>
          {{ /if }}
        </div>
      </div>
    </div>
  </div>
</div>