{{ if button || title }}
  <div class="block-cta-strip bg-minova-gold">
    <div class="container flex flex-col items-center py-8 md:flex-row md:justify-between">
      <div class="mb-5 md:mb-0">
        {{ if title }}
          <h4 class="mb-0 text-center uppercase md:text-left">{{ title }}</h4>
        {{ /if }}
      </div>
      <div>
        {{ if button }}
          {{ partial:common/button :link="button:link" :text="button:label" style="blue" chevron_style="gold" }}
        {{ /if }}
      </div>
    </div>
  </div>
{{ /if }}
