{{ if title }}
  <div
    class="block-hero-banner {{ ['md:h-[600px]' => large_banner, 'h-[400px]' => !large_banner] | classes }} relative mb-10 overflow-hidden"
  >
    <div class="container relative z-[2] flex h-full flex-col justify-center py-14">
      <div class="text-white">
        <div class="{{ ['mb-4' => description] | classes }}">
          <h1 class="title-split mb-0">{{ title }}</h1>
        </div>
        {{ if description }}
          <p class="mb-0">{{ description }}</p>
        {{ /if }}
      </div>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 358.97 410.25"
      class="absolute -right-[40%] md:-right-[5%] top-1/2 z-[1] h-[170%] -translate-y-1/2 mix-blend-overlay"
    >
      <g>
        <path
          class="cls-1"
          fill="#fab90a"
          d="M358.97,227.42L0,410.25v-71.35l275.36-132.66-2.23,4.46v-11.15l2.23,4.46L0,71.35V0l358.97,182.83v44.59Z"
        />
      </g>
    </svg>
    {{ if image }}
      <div class="absolute left-0 top-0 h-full w-full">
        {{ partial:common/image class="h-full w-full object-cover" :url="image" :alt="image:alt" }}
      </div>
    {{ /if }}
  </div>
{{ /if }}
