{{ if title }}
  <div
    class="block-hero-banner mb-10">
    <div class="{{ ['md:h-[600px]' => large_banner, 'h-[350px]' => !large_banner] | classes }} relative">
      <div class="container relative z-[1] flex h-full flex-col py-14">
        <div class="mt-auto">
          <div class="{{ ['mb-6' => description] | classes }}">
            <div class="border-minova-gold border-b-6 inline-block">
              <h1>{{ title }}</h1>
            </div>
          </div>
          {{ if description }}
            <p class="mb-0">{{ description }}</p>
          {{ /if }}
        </div>
      </div>
      {{ if image }}
        <div class="absolute left-0 top-0 h-full w-full bg-white">
          {{ partial:common/image class="h-full w-full object-cover opacity-30" :url="image" :alt="image:alt" }}
        </div>
      {{ /if }}
    </div>
    {{ if include_breadcrumbs }}
      <div class="bg-white py-2">
        <ul class="container flex gap-3">
          {{ nav:breadcrumbs include_home="false" }}
            <li>
              <a href="{{ url }}">{{ title }}</a>
              {{ if not last }}
                <span class="mx-2"> > </span>
              {{ /if }}
            </li>
          {{ /nav:breadcrumbs }}
        </ul>
      </div>
    {{ /if }}
  </div>
{{ /if }}

