{{ if title }}
  <div
    class="block-hero-banner {{ ['md:h-[600px]' => large_banner, 'h-[350px]' => !large_banner] | classes }} relative mb-10"
  >
    <div class="container relative z-[1] flex h-full flex-col py-14">
      <div class="mt-auto">
        <div class="{{ ['mb-6' => description] | classes }}">
          <div class="border-minova-gold inline-block border-b-4">
            <h1>{{ title }}</h1>
          </div>
        </div>
        {{ if description }}
          <p class="mb-0">{{ description }}</p>
        {{ /if }}
      </div>
    </div>
    {{ if background_image }}
      <div class="absolute left-0 top-0 h-full w-full bg-white">
        <img src="{{ background_image }}" alt="{{ image_block:alt }}" class="h-full w-full object-cover opacity-30" />
      </div>
    {{ /if }}
  </div>
{{ /if }}
