<div class="border-minova-gold border-b-[6px] border-t-[6px] bg-[#F3F3F3] py-8">
  <div class="container mx-auto">
    <div class="pb-4 pl-4 font-flamablack text-2xl uppercase">
      {{ title }}
    </div>

    <div class="grid grid-cols-2 grid-rows-2 xl:grid-cols-4 xl:grid-rows-1">
      {{ cards }}
        <div class="m-4 flex flex-col items-center bg-white pb-4 shadow-2xl">
          <img src="{{ icon }}" alt="{{ image_block:alt }}" class="h-auto max-w-[60%]" />

          <div class="flex flex-1 flex-col font-light">
            <div class="pb-4 text-center text-sm font-bold">
              {{ card_title }}
            </div>

            <div class="pb-4 pl-8 pr-8 text-center text-sm">
              {{ card_body }}
            </div>
          </div>
        </div>
      {{ /cards }}
    </div>
  </div>
</div>
