<div class="block-latest-news bg-minova-blue">
  <div class="container py-8 lg:py-12 2xl:py-14">
    <div class="mb-10 flex items-center justify-between lg:mb-14">
      {{ partial:common/sectionTitle text="Latest news" invert="true" noMargin="true" }}
      <div>
        {{ if page_entries:news_page }}
          {{ partial:common/button text="All news" style="inline" chevron_style="gold" chevron_size="xs" :link="page_entries:news_page:url" }}
        {{ /if }}
      </div>
    </div>
    <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">
      {{ collection:news limit="3" }}
        {{ partial:common/newsCard :image="image" :slug="url" :title="title" :short_description="short_description" }}
      {{ /collection:news }}
    </div>
  </div>
</div>
