{{ if products }}
  <div class="block-product-slider bg-gradient-to-r from-neutral-500 to-neutral-400">
    <div class="container py-14">
      {{ if title }}
        {{ partial:common/sectionTitle :text="title" }}
      {{ /if }}
      <div
        class="product-slider -mx-4 [&_.slick-slide]:h-[initial] [&_.slick-track]:flex"
        style="position: unset"
      >
        {{ products }}
          <div class="h-full px-4">
            {{ partial:common/entryCard :slug="slug" :image="image" :title="title" button_text="Explore products" }}
          </div>
        {{ /products }}
      </div>
    </div>
  </div>
{{ /if }}
