{{ if products }}
  <div class="block-product-slider bg-minova-blue">
    <div class="container py-14">
      {{ if title }}
        {{ partial:common/sectionTitle :text="title" invert="true" }}
      {{ /if }}
      <div
        class="product-slider -mx-4 [&_.slick-slide]:h-[initial] [&_.slick-track]:flex"
        style="position: unset"
      >
        {{ products }}
          <div class="h-full p-4">
            {{ partial:common/productCard :slug="slug" :image="image" :title="title" }}
          </div>
        {{ /products }}
      </div>
    </div>
  </div>
{{ /if }}
