{{# @REF: https://www.penguinui.com/components/accordion #}}
<div class="block-products-accordion">
  {{ if title }}
    <div class="container">
      {{ partial:common/sectionTitle :text="title" size="small" }}
    </div>
  {{ /if }}
  {{ sections }}
    <div class="border-t-3 border-slate-300" x-data="{ isExpanded: false }">
      <div class="container">
        <button class="w-full accordion-control" id="controlsAccordionItem{{ index }}" type="button"
          aria-controls="accordionItem{{ index }}" class="w-full bg-slate-200" @click="isExpanded = ! isExpanded"
          :aria-expanded="isExpanded ? 'true' : 'false'">
          <div class="flex justify-between py-6">
            {{ if label }}
              <h5 class="mb-0">{{ label }}</h5>
            {{ /if }}
            <div>
              <i class="ml-2 transition-transform fa-regular fa-chevron-down fa-2x"
                :class="isExpanded ? 'rotate-180' : ''"></i>
            </div>
          </div>
        </button>
      </div>
      <div x-cloak x-show="isExpanded" id="accordionItem{{ index }}" role="region" class="w-full bg-minova-blue"
        aria-labelledby="controlsAccordionItem{{ index }}" x-collapse>
        <div class="container py-6 lg:py-10">
          {{ inner_sections }}
            <div class="mb-8 lg:mb-10">
              <div class="mb-6 text-white">
                {{ if title }}
                  <h4 class="mb-2">{{ title }}</h4>
                {{ /if }}
                {{ if description }}
                  <p>{{ description }}</p>
                {{ /if }}
              </div>
              {{ if products }}
                <div class="px-0 -mx-4 product-slider 4xl:px-0 lg:px-14">
                  {{ products }}
                    <div class="!h-auto p-4">
                      {{ partial:common/productCard :slug="url" :image="image" :title="title" :short_description="short_description" include_description="true" }}
                    </div>
                  {{ /products }}
                </div>
              {{ /if }}
            </div>
          {{ /inner_sections }}
        </div>
      </div>
    </div>
  {{ /sections }}
</div>
