{{ if projects }}
  <div class="block-project-slider">
    <div class="project-slider py-14">
      {{ projects }}
        <div>
          <div class="container grid grid-cols-1 gap-10 lg:grid-cols-2 gap-10">
            <div class="lg:flex lg:flex-col lg:justify-center">
              <div class="mb-6">
                <div class="mb-6">
                  <p class="mb-2 text-lg uppercase">Project</p>
                  {{ if title }}
                    <h3 class="mb-3">{{ title }}</h3>
                  {{ /if }}
                  {{ if location }}
                    <p class="font-flama-book mb-0 text-lg">
                      <span class="uppercase">Location</span>
                      : {{ location }}
                    </p>
                  {{ /if }}
                </div>
                {{ if description }}
                  <p class="mb-0 text-base leading-relaxed">{{ description }}</p>
                {{ /if }}
              </div>
              {{ if button }}
                <div>
                  {{ partial:common/button :url="button:link" :text="button:label" style="gold" }}
                </div>
              {{ /if }}
            </div>
            <div>
              {{ if image }}
                <div class="relative aspect-4/3 overflow-hidden rounded-2xl">
                  {{ partial:common/image :url="image" :alt="image:alt" class="absolute top-0 left-0 size-full object-cover" }}
                </div>
              {{ /if }}
            </div>
          </div>
        </div>
      {{ /projects }}
    </div>
  </div>
{{ /if }}
