<div class="container max-w-5xl mt8- py-8 lg:py-12 2xl:py-14">
  <div class="mb-10">
    <form action="{{ site:url }}/search" method="GET" class="flex items-center justify-center">
      <input type="search" name="q" placeholder="Search" value="{{ get:q }}"
        class="w-1/2 border-b border-minova-gold py-2 text-2xl focus:outline-none" />
      <button type="submit"
        class="ml-6 rounded-full border-3 border-minova-gold bg-minova-gold px-6 py-2 font-flama-book text-lg font-bold uppercase tracking-wider text-minova-blue transition-all hover:bg-transparent hover:text-minova-blue active:bg-minova-gold active:opacity-70">
        <span class="flex items-center justify-center">
          <span>SEARCH</span>
          <span class="ml-2">
            {{ partial:common/chevron :chevron_style="chevron_style" :chevron_size="'sm'" }}
          </span>
        </span>
      </button>
    </form>
  </div>
  {{ search:results index="default" }}
    {{ if no_results }}
      <h2 class="text-center text-2xl font-semibold">No results found for "{{ get:q }}".</h2>
    {{ else }}
      <div class="border-t border-slate-200 py-4">
        <a href="{{ url }}" class="flex items-center justify-between transition-colors hover:text-minova-gold">
          <div>
            <p class="{{ ['mb-0' => !short_description] | classes }} text-3xl font-semibold">{{ title }}</p>
            {{ if short_description }}
              <p class="mb-0">{{ short_description }}</p>
            {{ /if }}
          </div>
          <span class="ml-4 transition-colors">
            {{ partial:common/chevron :chevron_style="chevron_style" :chevron_size="'md'" }}
          </span>
        </a>
      </div>
    {{ /if }}
  {{ /search:results }}
</div>