{{ if team_members }}
  <div class="block-team-members mb-10 bg-neutral-200">
    <div class="container py-14">
      {{ if title }}
        {{ partial:common/sectionTitle text="Meet our team" }}
      {{ /if }}
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-10 xl:grid-cols-3">
        {{ team_members }}
          <div class="bg-white text-center shadow-xl">
            {{ if image }}
              {{ partial:common/image class="w-full object-cover md:aspect-square" :url="image" :alt="image:alt" }}
            {{ /if }}
            <div
              class="flex flex-col items-center justify-center bg-gradient-to-r from-neutral-300 to-zinc-50 p-5 text-center"
            >
              {{ if name }}
                <h4 class="mb-2 capitalize">{{ name }}</h4>
              {{ /if }}
              {{ if job_title }}
                <p class="mb-0 uppercase">{{ job_title }}</p>
              {{ /if }}
            </div>
            {{ if about }}
              <div class="bg-zinc-100 p-5">
                <p class="bg-zinc-100 text-lg/relaxed">{{ about }}</p>
              </div>
            {{ /if }}
            {{ if quote }}
              <div class="p-5">
                <p class="text-base/relaxed">{{ quote }}</p>
              </div>
            {{ /if }}
          </div>
        {{ /team_members }}
      </div>
    </div>
  </div>
{{ /if }}
