/.phpunit.cache
/.docker-compose
/node_modules
/public/assets
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
/.fleet
/.idea
/.vscode
/.zed
docker-composer.yml
