<div x-data="cookieConsent" x-cloak>
  <aside x-bind="dialogue" class="cookie" id="cookieJar">
    <div class="cookie__text">
      <span class="cookie__text-highlight">We value your privacy.</span>
      We use technologies such as cookies in order to integrate with social media, serve relevant advertising, analayse
      our traffic, improve and customize your experience on our website. To accept cookies, click "I Accept" or <a
      href="{{ site_content:privacy-policy }}" class="cookie__text-link">read more</a>
    </div>
    <div class="cookie__btn" id="cookieBtn">
      <div x-bind="decline" class="btn btn__white cookie__btn-btn" style="margin-right: 5px;">Decline</div>
      <div x-bind="accept" class="btn btn__white cookie__btn-btn">I accept</div>
    </div>
  </aside>
</div>

