<header class="border-b border-neutral-300">
  <div class="bg-minova-blue">
    <div class="container flex items-center justify-end py-2 lg:py-3">
      <p class="mb-0 mr-4 text-base uppercase text-minova-gold font-flama-book tracking-wider lg:mr-6">
        Select your region
      </p>
      <div class="relative">
        <select class="appearance-none bg-transparent pr-2 text-base text-white font-flama-book tracking-wider">
          <option>EMEA & CIS</option>
          <option>ASIA PACIFIC</option>
          <option>AMERICAS</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center">
          <i class="fa-regular fa-chevron-down text-minova-gold fa-sm"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container flex justify-between py-4 lg:py-6">
      <div>
        <a href="/" class="cursor-pointer">
          {{ partial:common/image class="w-full max-w-40 lg:max-w-56 h-auto" url="/assets/minova_logo.svg" alt="Minova Logo" }}
        </a>
      </div>
      <div>
        {{ partial:common/navigationHeader }}
      </div>
    </div>
  </div>
</header>
