<header id="site-header" class="fixed left-0 top-0 z-40 w-full border-b border-slate-300">
  <div class="bg-minova-blue">
    <div class="container flex items-center justify-end py-2 lg:py-2.5 focus:outline-none">
      <p class="mb-0 mr-4 font-flama-book text-base uppercase tracking-wider text-minova-gold lg:mr-6">
        Select your region
      </p>
      <div class="relative focus:outline-none">
        <select id="region-selector"
          class="appearance-none bg-transparent font-flama-book text-base tracking-wider text-white min-w-32 w-full pr-4 border-b border-minova-gold focus:outline-none">
          <option class="bg-white text-black" data-url="/americas" value="americas">AMERICAS</option>
          <option class="bg-white text-black" data-url="/emea-cis" value="emea-cis">EMEA & CIS</option>
          <option class="bg-white text-black" data-url="/apac" value="apac">ASIA PACIFIC</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex rotate-90 items-center">
          {{ partial:common/chevron chevron_style="gold" chevron_size="2xs" }}
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container flex items-center justify-between py-4 lg:py-5">
      <div>
        <a href="{{ site_content:home }}" class="cursor-pointer">
          {{ if site_content:main_logo }}
            {{ partial:common/image class="w-full max-w-40 lg:max-w-56 h-auto" :url="site_content:main_logo" :alt="site_content:main_logo:alt" }}
          {{ /if }}
        </a>
      </div>
      <div class="relative flex justify-end">
        {{ partial:common/navigationHeader }}
        {{ partial:common/searchHeader }}
        <button class="offcanvas-toggle inline-block lg:hidden"><i class="fa-regular fa-2x fa-bars"></i></button>
      </div>
    </div>
  </div>
</header>