<header>
  <div class="bg-neutral-100">
    <div class="container flex items-center justify-end py-2 lg:py-3">
      <p class="mb-0 mr-4  text-base font-bold uppercase italic lg:mr-6 lg:text-xl">
        Select your region
      </p>
      <div class="relative">
        <select class="appearance-none bg-transparent pr-4  text-base lg:text-xl">
          <option>EMEA & CIS</option>
          <option>ASIA PACIFIC</option>
          <option>AMERICAS</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center">
          <span class="border-t-minova-gold h-0 w-0 border-l-8 border-r-8 border-t-8 border-transparent"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container flex justify-between py-5 lg:py-8">
      <div>
        <a href="/">
          {{ partial:common/image class="w-full max-w-40 lg:max-w-56 h-auto" url="/assets/minova_logo.svg" alt="Minova Logo" }}
        </a>
      </div>
      <div>
        {{ partial:common/header-navigation }}
      </div>
    </div>
  </div>
</header>
