@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Flama';
  src: url('/public/fonts/flama-basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlamaBlack';
  src: url('/public/fonts/flamablack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-6 font-flamablack font-bold uppercase leading-tight;
  }

  h1 {
    @apply text-5xl md:text-7xl;
  }

  h2 {
    @apply text-4xl md:text-6xl;
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }

  h4 {
    @apply text-2xl md:text-3xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply mb-4 font-helvetica text-lg;
  }
}

@layer components {
  .slick-dots {
    @apply absolute -bottom-12 left-1/2 z-10 m-0 flex -translate-x-1/2 list-none flex-wrap p-0;
  }

  .slick-dots li {
    @apply p-1;
  }

  .slick-dots button {
    @apply block size-4 cursor-pointer rounded-full border-0 bg-white/20 p-0 text-[0]/[0] shadow outline-0 transition;
  }

  .product-slider .slick-dots .slick-active button {
    @apply bg-minova-gold opacity-100;
  }
}
