@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-pro/css/all';

@font-face {
  font-family: 'Flama Book';
  src:
    url('/public/fonts/Flama-Book.woff2') format('woff2'),
    url('/public/fonts/Flama-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply text-minova-blue m-0 p-0;
  }

  h1 {
    @apply text-5xl md:text-6xl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }

  h4 {
    @apply text-2xl md:text-3xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-flama-book mb-6 uppercase leading-tight tracking-wider;
  }

  p {
    @apply mb-4 font-inter text-lg leading-relaxed;
  }

  table {
    @apply mb-8 w-full;

    tr {
      td {
        p {
          @apply m-0 p-2;
        }

        &:not(:last-of-type) {
          @apply border-r border-neutral-200;
        }
      }

      &:first-of-type {
        td {
          @apply bg-slate-700 uppercase text-minova-gold;
        }
      }

      &:nth-child(odd):not(:first-of-type) {
        td {
          @apply bg-slate-100;
        }
      }

      &:nth-child(even) {
        td {
          @apply bg-slate-50;
        }
      }
    }
  }
}

@layer components {
  .slick-track {
    @apply !flex;
  }

  .slick-slide {
    @apply !float-none;
  }
  .slick-dots {
    @apply flex justify-center pt-6;
    /* @apply absolute -bottom-12 left-1/2 z-10 m-0 flex -translate-x-1/2 list-none flex-wrap p-0; */
  }

  .slick-dots li {
    @apply p-1;
  }

  .slick-dots button {
    @apply block size-4 cursor-pointer rounded-full border-0 bg-white/40 p-0 text-[0]/[0] shadow outline-0 transition;
  }

  .slick-dots-invert {
    .slick-dots {
      button {
        @apply bg-minova-blue/40;
      }

      .slick-active {
        button {
          @apply bg-minova-gold opacity-100;
        }
      }
    }
  }

  .product-slider .slick-dots .slick-active button {
    @apply bg-minova-gold opacity-100;
  }
}
