@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-pro/css/all';

@font-face {
  font-family: 'Flama Book';
  src:
    url('/public/fonts/Flama-Book.woff2') format('woff2'),
    url('/public/fonts/Flama-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  /* Global */
  :root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply m-0 p-0 text-minova-blue;

    &.offcanvas-open {
      @apply overflow-y-hidden;

      .offcanvas {
        @apply translate-y-0;
      }
    }

    main {
      min-height: 70vh;
    }
  }

  /* Text */
  h1 {
    @apply text-5xl md:text-6xl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }

  h4 {
    @apply text-2xl md:text-3xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-6 font-flama-book uppercase leading-none tracking-wider;
  }

  p {
    @apply mb-4 font-inter text-lg leading-relaxed;
  }

  /* Bard editor */
  .bard-content {
    ul,
    ol {
      @apply pl-5 mb-8;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    a {
      @apply text-blue-600 underline;
    }
  }

  /* Tables */
  table {
    @apply mb-8 w-full;

    tr {
      td {
        p {
          @apply m-0 p-2;
        }

        &:not(:last-of-type) {
          @apply border-r border-neutral-200;
        }
      }

      &:first-of-type {
        td {
          @apply bg-slate-700 uppercase text-minova-gold;
        }
      }

      &:nth-child(odd):not(:first-of-type) {
        td {
          @apply bg-slate-100;
        }
      }

      &:nth-child(even) {
        td {
          @apply bg-slate-50;
        }
      }
    }
  }
}

@layer components {
  /* Slick carousel */
  .slick-track {
    @apply !flex;
  }

  .slick-slide {
    @apply !float-none;
  }

  .slick-dots {
    @apply flex justify-center pt-6;
  }

  .slick-dots li {
    @apply p-1;
  }

  .slick-dots button {
    @apply block size-4 cursor-pointer rounded-full border-0 bg-white/40 p-0 text-[0]/[0] shadow outline-0 transition;
  }

  .slick-dots-invert {
    .slick-dots {
      button {
        @apply bg-minova-blue/40;
      }

      .slick-active {
        button {
          @apply bg-minova-gold opacity-100;
        }
      }
    }
  }

  .product-slider .slick-dots .slick-active button {
    @apply bg-minova-gold opacity-100;
  }

  @keyframes growFromBottomLeft {
    0% {
      transform: scale(0) translateY(20%);
      opacity: 0;
    }

    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  .tooltip {
    transition:
      transform 0.2s ease-out,
      opacity 0.2s ease-out;
    transform-origin: bottom left;
    transform: scale(0);
    opacity: 0;
    &.show {
      animation: growFromBottomLeft 0.3s forwards;
    }
  }

  .cross-section-card {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .cross-section-card {
    box-shadow:
      0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .cross-section-card.no-shadow {
    box-shadow: none;
  }
}

#search-form {
  &.active {
    @apply translate-x-0 opacity-100;
  }
}
