{{ data }}
  <div class="mb-10 2xl:mb-14">
    {{ if type == "text" }}
      {{ text }}
    {{ elseif type == "image" }}
      {{ if image }}
        {{ partial:common/image class="w-full h-auto rounded-3xl" :url="image" :alt="image:alt" }}
      {{ /if }}
    {{ elseif type == "button" }}
      {{ if button }}
        {{ partial:common/button :link="button:link" :text="button:label" style="gold" }}
      {{ /if }}
    {{ elseif type == "image_columns" }}
      {{ if images }}
        <div class="grid grid-cols-3 gap-2">
          {{ images }}
            <div class="flex aspect-square items-center justify-center bg-slate-100">
              {{ partial:common/image class="w-auto h-auto max-w-[90%] max-h-[90%] object-contain" :url="url" :alt="alt" }}
            </div>
          {{ /images }}
        </div>
      {{ /if }}
    {{ elseif type == "numbered_list" }}
      {{ if numbered_list }}
        <ol class="flex flex-col gap-5 md:flex-row lg:flex-wrap">
          {{ numbered_list }}
            <li class="flex">
              <span
                class="mr-3 flex size-10 items-center justify-center rounded-full bg-minova-gold font-bold text-minova-blue"
              >
                {{ index + 1 }}
              </span>
              <span class="pt-2 font-bold">{{ title }}</span>
            </li>
          {{ /numbered_list }}
        </ol>
      {{ /if }}
    {{ elseif type == "project_image_block" }}
      <div class="mb-6 lg:mb-0">
        {{ if project_image }}
          <div class="{{ ['justify-start lg:justify-end' => flip, 'justify-start' => !flip] | classes }} flex">
            <div class="max-w-[90%]">
              {{ partial:common/image class="h-auto w-full rounded-3xl " :url="project_image" :alt="project_image:alt" }}
            </div>
          </div>
        {{ /if }}
        {{ if project_title }}
          <div class="{{ ['justify-end lg:justify-start' => flip, 'justify-end' => !flip] | classes }} -mt-12 flex">
            <div class="max-w-[70%] rounded-2xl bg-minova-blue p-5 text-center lg:max-w-[50%] lg:p-8 2xl:p-14">
              <h4 class="mb-0 text-white">{{ project_title }}</h4>
            </div>
          </div>
        {{ /if }}
      </div>
      <div class="{{ ['justify-start lg:justify-end' => flip, 'justify-start' => !flip] | classes }} flex">
        <div class="{{ ['w-full' => full_width, 'lg:w-[45%] lg:-mt-12' => !full_width] | classes }}">
          <div class="mb-6">
            <div class="mb-6">
              {{ if subtitle }}
                <h4 class="mb-3">{{ subtitle }}</h4>
              {{ /if }}
              {{ if location }}
                <p class="mb-0 font-flama-book text-lg">
                  <span class="uppercase">Location</span>
                  : {{ location }}
                </p>
              {{ /if }}
            </div>
            {{ if description }}
              {{ description }}
            {{ /if }}
          </div>
          {{ if add_button && button }}
            {{ partial:common/button :link="button:link" :text="button:label" style="gold" }}
          {{ /if }}
        </div>
      </div>
    {{ elseif type == "video" }}
      {{ partial:blocks/video :video_type="video_type" :video_link="video_link" :video_file="video_file" }}
    {{ elseif type == "address_table" }}
      {{ if addresses }}
        {{ partial:blocks/addressTable :addresses="addresses" }}
      {{ /if }}
    {{ /if }}
  </div>
{{ /data }}
