<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 192 192"
  class="{{ ['size-3' => chevron_size == '2xs', 'size-4' => chevron_size == 'xs', 'size-5' => !chevron_size || chevron_size == 'sm'
 , 'size-8' => chevron_size == 'md', 'size-12' => chevron_size == 'lg', 'size-18' => chevron_size == 'xl'] | classes }}"
>
  <polygon
    class="{{ ['fill-minova-gold' => chevron_style == 'gold', 'fill-white' => chevron_style == 'white', 'fill-slate-300' => chevron_style == 'grey', 'fill-minova-blue' => !chevron_style || chevron_style == 'blue'
 class => class] | classes }}"
    points="17.74 14.43 11.06 28.16 159.02 94.54 12.54 163.88 19.23 177.6 180.9 101.21 180.9 88.6 17.74 14.43"
  />
</svg>
