<div id="{{ card_id }}"
  class="cross-section-card fixed right-0 top-0 z-40 h-screen w-10/12 translate-x-full bg-white shadow-xl transition-transform md:w-[40rem] hidden-card">
  <div class="relative min-h-36">
    <button
      class="close-card-button absolute right-4 top-4 z-[1] flex size-10 items-center justify-center rounded-full bg-white">
      <i class="fa-regular fa-xmark fa-lg text-minova-blue"></i>
    </button>
    {{ if image }}
      {{ partial:common/image class="h-auto w-full border-b-4 border-minova-gold" :url="image" :alt="image:alt" }}
    {{ /if }}
  </div>
  <div class="p-8">
    {{ if title }}
      <h3>{{ title }}</h3>
    {{ /if }}
    {{ if description }}
      {{ description }}
    {{ /if }}
  </div>
</div>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('[data-card-id]');
    const closeButtons = document.querySelectorAll('.close-card-button');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const cardId = button.getAttribute('data-card-id');
        const card = document.getElementById(cardId);

        if (card) {
          document.querySelectorAll('.cross-section-card').forEach(c => {
            c.classList.add('translate-x-full', 'hidden-card');
          });
          card.classList.remove('translate-x-full', 'hidden-card');
        }
      });
    });

    closeButtons.forEach(closeButton => {
      closeButton.addEventListener('click', (e) => {
        e.stopPropagation();
        const card = closeButton.closest('.cross-section-card');
        card.classList.add('translate-x-full', 'hidden-card');
      });
    });
  });
</script>