<div
  class="relative flex h-full flex-col overflow-hidden rounded-2xl bg-white p-5 transition-transform lg:hover:scale-105 xl:p-7"
>
  <a class="relative mb-5 block aspect-square overflow-hidden rounded-2xl bg-slate-50" href="{{ slug }}">
    {{ if image }}
      {{ partial:common/image class="h-auto w-full object-contain" :url="image" :alt="image:alt" }}
    {{ /if }}
  </a>
  <div class="mb-6">
    {{ if title }}
      <div class="mb-3">
        <h5 class="mb-0 text-2xl">{{ title }}</h5>
      </div>
    {{ /if }}
    {{ if short_description }}
      <p class="mb-0 line-clamp-2 text-sm">{{ short_description }}</p>
    {{ /if }}
  </div>
  <div class="mt-auto">
    <div>
      {{ partial:common/button :url="slug" :text="button_text" style="gold" size="small" }}
    </div>
  </div>
</div>
