<nav class="hidden font-flama text-xl uppercase lg:flex">
  <ul class="-mx-2 flex list-none">
    {{ nav:header }}
      {{ if depth == 1 }}
        <li class="group/parent relative px-4">
          <a href="{{ url }}" class="relative inline-block cursor-pointer py-2 transition-colors">
            <span class="relative z-10 whitespace-nowrap">{{ title }}</span>
            <span
              class="bg-minova-gold absolute bottom-0 left-0 h-[4px] w-0 transition-all duration-300 ease-in-out group-hover/parent:w-full"
            ></span>
          </a>
          {{ if children }}
            <ul
              class="absolute left-0 top-full z-40 mt-0 hidden min-w-[200px] list-none bg-white/75 px-4 pb-4 pt-14 shadow-lg transition-all group-hover/parent:block"
            >
              {{ *recursive children* }}
            </ul>
          {{ /if }}
        </li>
      {{ elseif depth == 2 }}
        <li class="px-2 py-2">
          <a
            href="{{ url }}"
            class="group/child group-hover/child:text-minova-gold relative w-full pb-2 text-black transition-colors"
          >
            <span class="relative z-10 whitespace-nowrap">{{ title }}</span>
            <span
              class="bg-minova-gold absolute bottom-0 left-0 h-[4px] w-0 transition-all duration-300 ease-in-out group-hover/child:w-full"
            ></span>
          </a>
        </li>
      {{ /if }}
    {{ /nav:header }}
  </ul>
</nav>

<button class="inline-block text-black lg:hidden">MENU</button>
