<div class="bg-[#F2F2F2] flex justify-end items-center text-lg italic pt-2 pb-2">
    <!-- Select Your Region Text -->
    <div class="pr-4 text-sm font-flamablack sm:text-sm md:text-base lg:text-base xl:text-base">
        SELECT YOUR REGION
    </div>

    <!-- Dropdown Select Box for large screens -->
    <div class="relative hidden mr-4 sm:hidden md:hidden lg:block xl:block">
        <select class="appearance-none rounded-md pr-8 bg-[#F2F2F2] font-flama z-20 text-sm sm:text-sm md:text-base lg:text-base xl:text-base">
            <option>EMEA & CIS</option>
            <option>ASIA PACIFIC</option>
            <option>AMERICAS</option>
        </select>

        <div class="absolute inset-y-0 flex items-center pointer-events-none right-5">
            <span class="w-0 h-0 border-t-8 border-l-8 border-r-8 border-transparent border-t-minovaGold"></span>
        </div>
    </div>

    <!-- Smaller Burger Menu for small and medium screens -->
    <div class="relative mr-4 sm:block md:block lg:hidden xl:hidden">
        <!-- Smaller Burger Icon -->
        <div class="flex flex-col items-center justify-between w-4 h-4 cursor-pointer">
            <span class="block w-4 h-[2px] bg-black"></span>
            <span class="block w-4 h-[2px] bg-black"></span>
            <span class="block w-4 h-[2px] bg-black"></span>
        </div>
    </div>
</div>

<!-- Logo -->
<div class="w-48 h-auto mt-4 mb-4 ml-28">
    <a href="/">
        <img src="/assets/minova_logo.svg" alt="Minova Logo" />
    </a>
</div>
