<nav class="text-xl uppercase lg:flex items-center" style="height: 60px;">
  <ul class="-mx-2 flex list-none items-center w-full">
    {{ nav:header }}
      {{ if depth == 1 }}
        <li class="group/parent relative px-4 normal-nav">
          <a href="{{ url }}"
            class="relative mt-[6px] inline-block cursor-pointer py-1 font-flama-book text-lg tracking-wider transition-colors">
            <span class="relative z-10 whitespace-nowrap">{{ title }}</span>
            <span
              class="absolute bottom-0 left-0 h-[3px] w-0 bg-minova-gold transition-all duration-300 ease-in-out group-hover/parent:w-full"></span>
          </a>
          {{ if children }}
            <ul
              class="absolute left-0 top-full z-40 mt-0 hidden min-w-[200px] list-none bg-white/90 px-4 pb-4 pt-10 shadow-lg transition-all group-hover/parent:block">
              {{ *recursive children* }}
            </ul>
          {{ /if }}
        </li>
      {{ elseif depth == 2 }}
        <li class="px-2 py-2 normal-nav">
          <a href="{{ url }}"
            class="group/child relative w-full pb-1 font-flama-book text-base tracking-wider transition-colors group-hover/child:text-minova-gold">
            <span class="relative z-10 whitespace-nowrap">{{ title }}</span>
            <span
              class="absolute bottom-0 left-0 h-[3px] w-0 bg-minova-gold transition-all duration-300 ease-in-out group-hover/child:w-full"></span>
          </a>
        </li>
      {{ /if }}
    {{ /nav:header }}
    <li class="group/parent relative px-4 normal-nav search-button">
      <button onclick="toggleSearch()"
        class="relative inline-block cursor-pointer py-1 font-flama-book text-lg tracking-wider transition-colors">
        <span class="relative z-10 whitespace-nowrap uppercase">Search</span>
        <span
          class="absolute bottom-0 left-0 h-[3px] w-0 bg-minova-gold transition-all duration-300 ease-in-out group-hover/parent:w-full"></span>
      </button>
    </li>
  </ul>

  <div class="search-form" id="searchForm">
    <form action="{{ site:url }}/search" class="flex w-full items-center px-4 py-2">
      <input type="search" name="q" placeholder="Search"
        class="px-2 py-1 w-full border-b border-minova-gold focus:outline-none text-md h-8">
      <button type="submit"
        class="ml-2 rounded-full px-4 py-1 bg-minova-gold text-minova-blue border-2 border-minova-gold text-sm tracking-wider font-flama-book uppercase transition-all hover:bg-transparent hover:text-minova-blue active:bg-minova-gold active:opacity-70 h-8">
        <span class="flex items-center justify-center">
          <span>SEARCH</span>
          <span class="ml-2">
            {{ partial:common/chevron :chevron_style="chevron_style" :chevron_size="'xs'" }}
          </span>
        </span>
      </button>
      <button onclick="toggleSearch()" type="button"
        class="ml-2 px-2 py-1 text-gray-500 hover:text-gray-700 focus:outline-none h-8">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </form>

  </div>
</nav>