<nav>
  <ul>
    {{ nav:offcanvas }}
      <li x-data="{ isExpanded: false }" class="{{ ['border-b-2 border-slate-600' => !last] | classes }} text-white">
        <div class="flex items-center justify-between">
          <a href="{{ url }}" class="py-3 font-flama-book text-xl uppercase leading-tight tracking-wider">
            {{ title }}
          </a>
          {{ if children }}
            <button type="button" @click="isExpanded = ! isExpanded" :aria-expanded="isExpanded ? 'true' : 'false'"
              aria-controls="navAccordionItem{{ id }}" class="focus:outline-none">
              <i class="fa-regular fa-chevron-down fa-lg ml-2 text-minova-gold transition-transform"
                :class="isExpanded ? 'rotate-180' : ''"></i>
            </button>
          {{ /if }}
        </div>
        {{ if children }}
          <div x-show="isExpanded" x-cloak id="navAccordionItem{{ id }}" role="region" class="w-full"
            aria-labelledby="controlsnavAccordionItem{{ id }}" x-collapse>
            <ul class="pb-4 pl-3 pt-3">
              {{ children }}
                <li class="{{ ['mb-3' => !last] | classes }}">
                  <a href="{{ url }}" class="font-flama-book text-lg uppercase leading-tight tracking-wider">
                    {{ title }}
                  </a>
                </li>
              {{ /children }}
            </ul>
          </div>
        {{ /if }}
      </li>
    {{ /nav:offcanvas }}

    <li class="text-white border-b-2 border-slate-600">
      <button onclick="toggleOffCanvasSearch()"
        class="w-full py-3 text-left font-flama-book text-xl uppercase leading-tight tracking-wider focus:outline-none">
        Search
        <i class="fa-solid fa-magnifying-glass ml-2 text-minova-gold"></i>
      </button>
    </li>
  </ul>

  <div id="offCanvasSearchForm" class="search-form mt-4">
    <form action="{{ site:url }}/search" class="flex flex-col px-4 py-2 w-full">
      <input type="search" name="q" placeholder="Search"
        class="px-4 py-2 w-full border-b border-minova-gold focus:outline-none text-md mb-4">
      <div class="flex items-center justify-center space-x-4">
        <button type="submit"
          class="rounded-full px-6 py-2 bg-minova-gold text-minova-blue border-2 border-minova-gold text-lg tracking-wider font-flama-book uppercase transition-all hover:bg-transparent hover:text-minova-blue active:bg-minova-gold active:opacity-70">
          <span class="flex items-center justify-center">
            <span>SEARCH</span>
            <span class="ml-2">
              {{ partial:common/chevron :chevron_style="chevron_style" :chevron_size="'sm'" }}
            </span>
          </span>
        </button>
        <button onclick="toggleOffCanvasSearch()" type="button"
          class="px-4 py-2 text-gray-500 hover:text-gray-700 focus:outline-none">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </form>
  </div>
</nav>