<div class="flex flex-row justify-between">
  <div class="ml-24 w-48">
    <a href="/"><img src="/assets/minova_logo.svg" alt="Minova Logo" /></a>
  </div>

  <div class="mr-24 flex flex-row space-x-6 font-flama text-xl uppercase">
    {{ if nav:header }}
      <ul class="relative z-20 flex list-none space-x-8">
        {{ nav:header }}
          {{ if depth == 1 }}
            <li class="group relative z-30">
              <a
                href="{{ url }}"
                class="group-hover:text-minova-gold relative inline-block px-2 py-2 transition-colors"
              >
                <span class="relative z-10 whitespace-nowrap">{{ title }}</span>
                <span
                  class="bg-minova-gold absolute bottom-0 left-0 h-[4px] w-0 transition-all duration-300 ease-in-out group-hover:w-full"
                ></span>
              </a>
              {{ if children }}
                <ul
                  class="absolute left-0 top-full z-40 mt-0 hidden min-w-[200px] list-none bg-white/75 px-4 py-4 shadow-lg transition-all group-hover:block"
                >
                  {{ *recursive children* }}
                </ul>
              {{ /if }}
            </li>
          {{ elseif depth == 2 }}
            <li class="px-2 py-2">
              <a
                href="{{ url }}"
                class="hover:decoration-minova-gold relative inline-block w-full text-black decoration-4 underline-offset-2 transition-colors duration-200 ease-in-out hover:underline"
              >
                <span class="relative z-10 whitespace-nowrap">{{ title }}</span>
              </a>
            </li>
          {{ /if }}
        {{ /nav:header }}
      </ul>
    {{ /if }}
  </div>
</div>
