<nav class="mb-10 lg:mb-0">
  <ul class="grid grid-cols-1 gap-3 text-center lg:grid-cols-2 lg:text-left">
    {{ nav:footer }}
      <li>
        <a href="{{ url }}" class="group relative">
          <span
            class="relative pb-2 after:absolute after:bottom-0 after:left-0 after:h-[3px] after:w-0 after:bg-minova-gold after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:w-full"
          >
            {{ title }}
          </span>
        </a>
      </li>
    {{ /nav:footer }}
  </ul>
</nav>
