<ul class="block-products-accordion">
  {{ if is_product && navigations:products }}
    {{ nav:navigations:products }}
      {{ partial:common/sidebarNavItem }}
    {{ /nav:navigations:products }}
  {{ elseif is_news && navigations:news }}
    {{ nav:navigations:news }}
      {{ partial:common/sidebarNavItem }}
    {{ /nav:navigations:news }}
  {{ else }}
    {{ sidebar_navigation }}
      {{ nav :handle="handle" }}
        {{ partial:common/sidebarNavItem }}
      {{ /nav }}
    {{ /sidebar_navigation }}
  {{ /if }}
</ul>
