<form action="{{ site:url }}/search" class="flex w-full items-center">
  <input
    type="search"
    name="q"
    placeholder="Search"
    class="w-full flex-1 border-b border-minova-gold bg-transparent py-1.5 text-lg text-white focus:outline-none"
  />
  <button
    type="submit"
    class="ml-2 rounded-full border-2 border-minova-gold bg-minova-gold px-4 py-2 font-flama-book text-sm uppercase tracking-wider text-minova-blue transition-all hover:bg-transparent hover:text-minova-blue active:bg-minova-gold active:opacity-70"
  >
    <span class="flex items-center justify-center">
      <span>SEARCH</span>
    </span>
  </button>
</form>
