<div
  class="absolute left-0 top-0 z-10 flex h-full w-full min-w-[500px] translate-x-full items-center bg-white pl-8 opacity-0 transition-all"
  id="search-form"
>
  <form action="{{ site:url }}/search" class="flex w-full items-center">
    <input
      type="search"
      name="q"
      placeholder="Search"
      class="w-full flex-1 border-b border-minova-gold py-1.5 text-lg focus:outline-none"
    />
    <button
      type="submit"
      class="ml-2 h-8 rounded-full border-2 border-minova-gold bg-minova-gold px-4 py-1 font-flama-book text-sm uppercase tracking-wider text-minova-blue transition-all hover:bg-transparent hover:text-minova-blue active:bg-minova-gold active:opacity-70"
    >
      <span class="flex items-center justify-center">
        <span>SEARCH</span>
      </span>
    </button>
    <button type="button" class="toggle-search ml-2 h-8 px-2 py-1 text-gray-500 hover:text-gray-700 focus:outline-none">
      <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
  </form>
</div>
