<li x-data="{ isExpanded: {{ is_parent ? 'true' : 'false' }} }" class="{{ ['mb-4' => !last] | classes }}">
  <div class="flex items-center justify-between">
    {{ partial:common/sidebarNavLink }}
    <div>
      {{ if children }}
        <button
          type="button"
          @click="isExpanded = ! isExpanded"
          :aria-expanded="isExpanded ? 'true' : 'false'"
          aria-controls="accordionItem{{ id }}"
          class="focus:outline-none"
        >
          <i
            class="fa-regular fa-chevron-down ml-2 text-slate-400 transition-transform"
            :class="isExpanded ? 'rotate-180' : ''"
          ></i>
        </button>
      {{ /if }}
    </div>
  </div>
  {{ if children }}
    <div
      x-show="isExpanded"
      x-cloak
      id="accordionItem{{ id }}"
      role="region"
      class="w-full"
      aria-labelledby="controlsAccordionItem{{ id }}"
      x-collapse
    >
      <ul class="pb-2 pl-3 pt-5">
        {{ children }}
          <li class="{{ ['mb-4' => !last] | classes }}">
            {{ partial:common/sidebarNavLink }}
          </li>
        {{ /children }}
      </ul>
    </div>
  {{ /if }}
</li>
